/* start main header styles */
.mainContainer {
  border-bottom: 1px solid #9a9a9a;
}

/* end main header styles */
/* start header  */
.title {
  color: var(--red);
  font-weight: 700;
  font-size: 2rem;
}

.inp {
  border: 1px solid #eee;
  padding: 7px 15px;
  height: 40px;
  caret-color: var(--red);
  color: var(--gray);
  width: 100%;
  position: relative !important;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.inp:focus {
  outline: none !important;
}

.search {
  display: inline;
  width: 50px;
  height: 40px;
  background-color: var(--red);
  color: white !important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px;
  position: absolute;
  top: 0;
  left: 0;
}

.welcome {
  font-size: 14px;
  color: var(--gray);
}

.length {
  width: 20px;
  height: 20px;
  background-color: var(--red);
  color: white !important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px;
  position: absolute;
  bottom: -15px;
  left: 0;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

/* end header  */
/* start bottom bar */
.BarContainer {
  background-color: #514b4b;
  width: 100vw;
  height: 50px;
  display: flex;
  align-items: center;
}
.offer {
  padding: 8px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.offer:hover {
  background-color: black;
}
.percentContainer {
  width: 20px;
  height: 20px;
  padding: 5px !important;
  background-color: var(--red);
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

/* end bottom bar */