* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

body {
  text-transform: capitalize;
  overflow-x: hidden !important;
  font-family: 'Cairo' !important;
 
}

a {
  text-decoration: none !important;
}

:root {
  --gray: #9a9a9a;
  --red: #f90000;
  --moreBtn : #555 ; 
}

/* utility classes */
.pointer {
  cursor: pointer;
}

.gray {
  color: var(--gray);
}

.red {
  color: var(--red);
}
.lh {
  line-height: 2;
}
.mt {
  margin-top: 30vh;
}
.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  width: 50%;
}

.swiper-pagination-bullet {
  background-color: white;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: var(--red) !important;
}
.paginationBttns {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
}
/* .homeContainer {
  background-color: #f1f1f1;
} */

.main {
  min-height: calc(100vh - 530px) !important;
}
.label {
  font-weight: bold;
  color: var(--gray);
}
/* pagination  */
.paginationBttns {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
}
.paginationBttns a {
  text-decoration: none !important;
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid #202026;
  color: white !important;
  cursor: pointer;
  transition: 0.5s;
  background-color: var(--moreBtn) !important;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.paginationBttns a:not(.paginationActive a):hover {
  color: white !important;
  background-color: #202026;
  border-color: white !important;
}
.paginationActive a {
  color: white !important;
  background-color: var(--red)  !important;
}